<div id="layout">
  <%= erb :"_common" %>
  <div id="main">
    <div class="header">
      <h3>Please add your journal name</h3>
        <form action="/users/<%= @user.id %>/journals" method="post">

            <label for="tripname">Journal Name:</label>
            <input type="text" name="journalname" id="journalname"><br><br>
            <input type="submit" value="Add a new journal">
            <div class="trip_details">
            </div>

        </form>
      </div>
    </div>
</div>