<div align="center">
<form action="/users" method="post" class="pure-form pure-form-aligned" >
  <fieldset class="show">
  <h3 align="center"> Please create an account:</h3>
    <div class="pure-control-group">
      <label for="firstname">First Name:</label>
      <input type="text" class="inner-text-color" name="firstname" placeholder="First Name">
    </div>
    <div class="pure-control-group">
      <label for="lastname">Last Name:</label>
      <input type="text" class="inner-text-color" name="lastname" placeholder="Last Name">
    </div>
    <div class="pure-control-group">
      <label for="email">Email:</label>
      <input type="text" class="inner-text-color" name="email" placeholder="Enter Your Email">
    </div>
    <div class="pure-control-group">
      <label for="birthdate">Birth date:</label>
      <input type="text" class="inner-text-color" name="birthdate" placeholder="MMDDYYYY">
    </div>
    <div class="pure-control-group">
      <label for="facebookname">Facebook Username*:</label>
      <input type="text" class="inner-text-color" name="facebookname" placeholder="optional">
    </div>
    <div class="pure-controls">
      <label for="username">UserName:</label>
      <input type="text" class="inner-text-color" name="username" placeholder="Enter Your Username">
      <label for="password">Password:</label>
      <input type="password" class="inner-text-color" name="password" placeholder="Enter Your Password">
      <input type="submit" class="pure-button pure-button-primary" value="Sign up"><br><br>
      <a href="/"><font color="white">I am already a member!!</font></a>
    </div>

</fieldset>
</form>
</div>