<!DOCTYPE html>
<html lang="en">
<head>


  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
  <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/side-menu.css">

  <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

  <script src="/js/application.js"></script>
  <script src="/js/facebookAuth.js"></script>
  <script src="/js/datepicker.js"></script>
  <script src="/js/journalEntryForm.js"></script>
  <script src="/js/ui.js"></script>
  <script type="text/javascript"></script>

  <title>Travel Journal</title>
</head>
<body>
  <%= yield %>
</body>
</html>